<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>blockchain visualization</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="javascripts/colorPicDialog.js"></script>
    <script src="/javascripts/event.js"></script>
    <script src="/javascripts/tab.js"></script>
    <script src="/javascripts/infoData.js"></script>
    <script src="/javascripts/bitcoinElement.js"></script>
    <script src ="/javascripts/painter.js"></script>
    <script src ="/javascripts/jquery.connection.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
    <script>
    /*
      var block = 13000;
      var tx = "5b529f0f8d310cb23eeee10ed0c5bf999e975022286936fa173e5543a7081bec";
      var addr = "1JrEWRAPFcZwxY1vi4zstRUknurD4NEpn3";
    }*/
    var socket = io.connect();
    let cluster = [];
    let lines  = [];
    $(document).ready(function(){
      socket.on('found block', function(data){
        console.log('found block');
        addElementInCluster(cluster, new Block(data));
      });
      socket.on('found tx', function(data){
        console.log("found tx");
        let addedId = addTxInCluster(cluster, data);
        drawCluster(cluster);
        addLine(lines, addedId);
      });
      socket.on('found addr', function(data){
        console.log("found addr");
        let addedId = addAddrInCluster(cluster, data);
        drawCluster(cluster);
        addLine(lines, addedId);
      });
      tabToggle();
      formToggle();
    })

    </script>
  </head>
  <body>
    <div id = "container_image" class="container-image">
      <div id="dialog" class="modal" display = "none">
        <canvas id="picker"></canvas>
        <input id="color" value="#54aedb" hidden ="true">
      </div>
    </div>

    <div class="container-tab">
      <ul class="tabs">
        <li class="tab-link current" data-tab="tab-1">SEARCH</li>
        <li class="tab-link" data-tab="tab-2">OPTION</li>
      </ul>

      <!--TAB 1-->
      <div id="tab-1" class="tab-content current">
        <!--1-1 : data_div-->
        <div id = "data_div" class = "data-div">
          data_div
          <!--- 1-1-1 : Selection div-->
          <div id = "selection_div" class = "selection-div">
            <div id = "block_select" class = "selection-content selection-current" select-div = "block">BLOCK</div>
            <div id = "tx_select" class = "selection-content" select-div = "tx">TX</div>
            <div id = "addr_select" class = "selection-content" select-div = "addr">ADDR</div>
          </div>
          <!--- 1-1-2 : Form Div-->
          <div id = "form_div" class = "form-div">
            <!-- Block Form -->
            <div id = "block_form" class = "form-content form-current" data-div="block">
              block
              <input text="text" id ="block_input">
              <button id = "block_submit" onclick = "searchData('block')">search</button>
            </div>
            <!-- Tx Form -->
            <div id = "tx_form" class = "form-content" data-div="tx">
              transactions
              <input type="text" id = "tx_input">
              <button id = "tx_submit" onclick = "searchData('tx')">search</button>
            </div>
            <!-- Addr Form -->
            <div id = "addr_form" class = "form-content" data-div="addr">
              address
              <input type="text" id = "addr_input" name="addr">
              <button id = "addr_submit" onclick = "searchData('addr')">search</button>
            </div>
          </div>
        </div>
        <!---1-2 : button_div -->
        <div id = "button_div" class = "button-div">
          button_div
          <button id="hot_only" onclick = "displayHotOnly()">HOT ONLY </button>
        </div>
      </div>

      <!--TAB 2-->
      <div id="tab-2" class="tab-content">
        <!-- 2-1 : Color Div -->
        <div id = "color_div" class ="color-div">
          Color Div
          <!-- 2-1-1 : Addr color -->
          <div id = "addr_color_div" class = "addr-color-div">
            <div id = "hot_addr_color_div" class = "color-circle-div" onclick = "colorChoose(0)">
              Hot address color div
              <label id = "hot_addr_color_div_value"></label>
            </div>
            <div id = "cold_addr_color_div" class = "color-circle-div" onclick = "colorChoose(1)">
              Cold address color div
              <label id = "cold_addr_color_div_value"></label>
            </div>
          </div>
          <!-- 2-1-2 : Tx color -->
          <div id = "tx_color_div" class="tx-color-div">
            <div id = "good_tx_color_div" class = "color-circle-div" onclick = "colorChoose(2)">
              Good tx
              <label id = "good_tx_color_div_value"></label>
            </div>
            <div id = "bad_tx_color_div" class = "color-circle-div" onclick = "colorChoose(3)">
              Bad tx
              <label id = "bad_tx_color_div_value"></label>
            </div>
          </div>
        </div>
        <!--2-2 : Condition Div-->
        <div id = "condition_div" class ="color-div">
          Condition for hot address
          <!-- setting zone -->
          <div id = "setting_zone_div">
            <div>
              Time setting
              <input id = "time_condition_input"></input>
            </div>
            <div>
              Used number setting
              <input id = "used_number_input"></input>
            </div>
          </div>
          <button id = "setting_complete_btn" onclick ='setCondition()' >setting complete</button>
        </div>
      </div>
    </div>
  </body>
</html>
