<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>blockchain visualization</title>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">
      window.onload = function(){
        var socket = io.connect();
        socket.on('found wallet', function(data){
          console.log(data);
        });
        var wallet = "0xabcdefgh";
        socket.emit('wallet', wallet);
      }
    </script>
  </head>
  <body>
    Search Wallet
    <form class= action="index.html" method="post">
      <input type="text" name="addr">
      <input type="submit" name="btn">
    </form>
    Information of Wallet<br><br>

    Search block
    <form class= action="index.html"  method="post">
      <input type="text" name="addr">
      <input type="submit" name="btn">
    </form>
    Information of Block<br><br>

  </body>
</html>
